@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800&display=swap');

*{
    font-family: 'Mulish';
}


/* Header Styling  start*/
header{
    background: #FFF;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    align-items: center;
}
.nav-title{
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
    padding-left: 130px;
}
.nav-title img{
    width: 48px;
    height: 34px;
    padding: -6px;
    
}
.travel{
    color: #FF5400;
    font-weight: 800;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 44px;
    font-size: 1rem;
    font-weight: 700;
}
nav li a{
    text-decoration: none;
    color:  #FF5400;
}
/* banner styling start */
.banner{
    position: relative;
    text-align: center;
    margin: 0px 200px;
    
}
.banner img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-text-title{
    font-size: 4rem;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    line-height: normal;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-element{
    position: absolute;
    display: inline-flex;
    border-radius: 8px;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    background: rgba(255, 255, 255, 0.30);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box-element input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}
.box-element #find-now{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
}
/* Image style */
.row{
    height: 300px;
    margin: 20px 200px;
    
    
}
.row img{
    height: 100%;
    padding: 10px;
    
    
    
}

/* Populer styling */
.features{ 
    display: flex;
    margin-top: 130px;
    gap: 140px;
    flex: 1;
    margin: 20px 200px;
}
.section-title{
    color: #131318;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: normal;
}
.text-light-gray{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.feature-img{
    margin: auto;
    
}
/* Populer Styling Ends */

/* Deals Styling */
.deals-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.deals-text{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.deals-img{
    position: relative;
    margin: 5px 180px 15px;
    
}
.deals-img img{
    width: 100%;
    height: 100%;
    
    
    
}
/* Why choose us */
.row-1{
    display: flex;
    margin: 10px 200px;
    gap: 30px;
    
    
}
.box-1{
    width: 100%;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}
.box-1 i{
    width: 64px;
    height: 64px;
}
.box-2{
    width: 100%;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}
.row-2{
    display: flex;
    margin: 20px 500px;   
}
.box-3{
    width: 100%;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
}
.box-text{
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}
/* Why choose us end */
.card{
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #611717;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    z-index: 1;
    transform: translate(120%, -130%);
    
}

.card-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin: 50px;

}
.card-text{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 50px;
}
.card-price{
    color: #FF5400;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-left: 50px;
    margin-bottom: 30px;
    
}
#find-now{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    margin-left: 50px;
    margin-bottom: 80px;
    width: 144px;
    height: 52px;
}
.find-now-button{
    width: 144px;
    height: 52px;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    background: #FF5400;
    
    
}
/* footer Styling */
footer{
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 502px;
    text-align: center;
    margin-bottom: 0px;
    
}
.footer-title{
    padding-top: 110px;
}
.footer-discription{
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 335px;
}
.social-links{
    display: flex;
    justify-content: center;
    padding: 20px;
      
}
.copy-write{
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 40px;
    
}


/* footer Styling ends*/



/* banner styling ends */
/* Header Styling ends */

/* Responsive Mobile*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
   }
   .nav, nav > ul, .banner, .banner-description, .features{
    position: absolute;
    flex-direction: column;
   }
   .box-element{
    display: flex;
    width: 287px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
   }
   .banner{
    margin: 2px;
    width: 335px;
    height: 483px;
   }
   .banner-text-title{
    font-size: 1.25rem;
    position: absolute;
    flex-direction: column;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   .banner-description{
    font-size: .8rem;
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
   }
   
}